html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
    180deg, 
    rgb(37, 37, 250) 0%, 
    rgb(28, 28, 28) 100%
    );
    color: white;
}
button{
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    width: 140px;
    height: 40px;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 .4em rgb(255, 255, 255);
    transition:  all .3s ease-in-out;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    background-color: purple;
    box-shadow: 0 0 .5em purple;
}